body {
  background-color: #d87093;
  font-family: "Courier New", Courier, monospace;
}
header {
  text-align: center;
  color: #ffffff;
}

section {
  margin: auto;
  height: 200px;
  width: 400px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ffc0cb;
}

input {
  border-radius: 10px;
}

footer {
  text-align: center;
}
